<div *ngIf="xuxemon">
  <h2>Editar Xuxemon</h2>
  <form [formGroup]="xuxemonForm" (ngSubmit)="guardarCambios()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
    <br>
    <label for="tipo">Tipo:</label>
    <input type="text" id="tipo" name="tipo" formControlName="tipo" required>
    <br>
    <label for="tamano">Tamaño:</label>
        <select id="tamano" name="tamano" formControlName="tamano" required>
            <option value="1">pequeño</option>
            <option value="2">mediano</option>
            <option value="3">grande</option>  
        </select>
    <br>
    <label for="vida">Vida:</label>
    <input type="number" id="vida" name="vida" formControlName="vida" required>
    <br>
    <label for="archivo">Archivo:</label>
    <input type="text" id="archivo" name="archivo" formControlName="archivo" required>
    <br>
    <button type="submit">Guardar Cambios</button>
    <button type="button" (click)="cancelarEdicion()">Cancelar edición </button>
  </form>
</div>