<app-navbar></app-navbar>

<div class="container d-flex justify-content-center align-items-center" style="padding-top: 150px;">
  <div class="row">

    <div class="card col-4">
      <div id="tienda">

      </div>
      <p>XuxeTienda</p>
    </div>

    <div class="card col-4" id="Coleccion">
      <p>Universe</p>
    </div>

    <div class="card col-4" id="Hospital">
      <p>Universe</p>
    </div>

  </div>

</div>

<div class="container d-flex justify-content-center align-items-center" style="padding-top: 100px;">

<div class="row">

  <div class="card col-4" id="Inventario">
    <p>Universe</p>
  </div>

  <div class="card col-4" id="Panel Administrador">
    <p class="heading">
      Popular this month 6
    </p>
    <p>
      Powered By
    </p>
    <p>Universe</p>
  </div>

  <div class="card col-4" id="Configuración">
    <p class="heading">
      Popular this month 7
    </p>
    <p>
      Powered By
    </p>
    <p>Universe</p>
  </div>
  
</div>
</div>



<!--<div class="container">
  <h2>Xuxemons</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Tamaño</th>
        <th>Archivo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let xuxemon of xuxemons">
        <td>{{ xuxemon.nombre }}</td>
        <td>{{ xuxemon.tipo }}</td>
        <td>{{ xuxemon.tamano }}</td>
        <td><img src="{{ xuxemon.archivo }}" alt="{{ xuxemon.nombre }}" width="50"></td>
      </tr>
    </tbody>
  </table>
</div>-->