<app-navbar></app-navbar>

<body id="hospital">
<div class="container">
  <div class="titulo">
    <h1> Centro Xuxemon </h1>
  </div>

  <!-- Sección de Xuxemons Enfermos -->
  <div *ngIf="xuxemonsEnfermos.length > 0">
    <h2>Xuxemons Enfermos</h2>
    <div class="tabla">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Tamaño</th>
            <th>Archivo</th>
            <th>Enfermedades</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let xuxemon of xuxemonsEnfermos">
            <td>{{ xuxemon.nombre }}</td>
            <td>{{ xuxemon.tipo }}</td>
            <td>{{ xuxemon.tamano }}</td>
            <td>{{ xuxemon.archivo }}</td>
            <td>
              <ng-container *ngIf="xuxemon.bajon_azucar === 1">Bajón de azúcar<br></ng-container>
              <ng-container *ngIf="xuxemon.sobredosis_azucar === 1">Sobredosis de azúcar<br></ng-container>
              <ng-container *ngIf="xuxemon.atracon === 1">Atracón<br></ng-container>
            </td>
            <td>
              <button (click)="seleccionarXuxemon(xuxemon.id)"> Curar </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Mensaje si no hay Xuxemons Enfermos -->
  <div *ngIf="xuxemonsEnfermos.length === undefined">
    <p>No tienes Xuxemons enfermos en tu colección.</p>
  </div>
</div>

<div class="dialogo" *ngIf="mostrarDialogo">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Cantidad</th>
        <th>Descripción</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let objeto of inventario" (click)="seleccionarObjeto(objeto.nombre)">
        <td>{{ objeto.nombre }}</td>
        <td>{{ objeto.tipo }}</td>
        <td>{{ objeto.cantidad }}</td>
        <td>{{ objeto.descripcion }}</td>
        <td>{{ objeto.imagen }}</td>
      </tr>
    </tbody>
    <button (click)="mostrarDialogo = false"> Salir </button>
  </table>
</div>
</body>