@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
    min-height: 100vh;
    background: url(".//assets/fondo1.jpg")no-repeat;
    background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
