<app-navbar></app-navbar>

<app-navbar></app-navbar>

<div class="container">

  <div class="titulo">
    <h1>Lista de Inventario</h1>
  </div>

  <div class="tabla">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Descripción</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of inventario">
          <td>{{ item.nombre }}</td>
          <td>{{ item.tipo }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.imagen }}</td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>

  <div class="botones">
    <button (click)="generarChuche()">Generar Chuche</button>
  </div>
  
</div>
