<header>
  <nav class="nav">
      <img src="../../assets/logo.png" alt="Logo Xuxedex">
      <ul class="nav-list">
    <li class="nav-item"><button class="btn btn-header" (click)="mostrarTodos()" id="ver-todos">Ver todos</button></li> 
    <li class="nav-item"><button class="btn btn-header normal" (click)="filtrarPorTipo('Normal')" id="normal">Normal</button></li>
    <li class="nav-item"><button class="btn btn-header fuego" (click)="filtrarPorTipo('Fuego')" id="fuego">Fuego</button></li>
    <li class="nav-item"><button class="btn btn-header agua" (click)="filtrarPorTipo('Agua')" id="agua">Agua</button></li>
    <li class="nav-item"><button class="btn btn-header planta" (click)="filtrarPorTipo('Planta')" id="planta">Planta</button></li>
    <li class="nav-item"><button class="btn btn-header electrico" (click)="filtrarPorTipo('Electrico')" id="electrico">Electrico</button></li>
    <li class="nav-item"><button class="btn btn-header hielo" (click)="filtrarPorTipo('Hielo')" id="hielo">Hielo</button></li>
    <li class="nav-item"><button class="btn btn-header lucha" (click)="filtrarPorTipo('Lucha')" id="lucha">Lucha</button></li>
    <li class="nav-item"><button class="btn btn-header veneno" (click)="filtrarPorTipo('Veneno')" id="veneno">Veneno</button></li>
    <li class="nav-item"><button class="btn btn-header tierra" (click)="filtrarPorTipo('Tierra')" id="tierra">Tierra</button></li>
    <li class="nav-item"><button class="btn btn-header aire" (click)="filtrarPorTipo('Aire')" id="aire">Aire</button></li>
    <li class="nav-item"><button class="btn btn-header psiquico" (click)="filtrarPorTipo('Psiquico')" id="psiquico">Psiquico</button></li>
    <li class="nav-item"><button class="btn btn-header bicho" (click)="filtrarPorTipo('Bicho')" id="bicho">Bicho</button></li>
    <li class="nav-item"><button class="btn btn-header roca" (click)="filtrarPorTipo('Roca')" id="roca">Roca</button></li>
    <li class="nav-item"><button class="btn btn-header fantasma" (click)="filtrarPorTipo('Fantasma')" id="fantasma">Fantasma</button></li>
    <li class="nav-item"><button class="btn btn-header siniestro" (click)="filtrarPorTipo('Siniestro')" id="siniestro">Siniestro</button></li>
    <li class="nav-item"><button class="btn btn-header dragon" (click)="filtrarPorTipo('Dragon')" id="dragon">Dragon</button></li>
    <li class="nav-item"><button class="btn btn-header acero" (click)="filtrarPorTipo('Acero')" id="acero">Acero</button></li>
    <li class="nav-item"><button class="btn btn-header hada" (click)="filtrarPorTipo('Hada')" id="hada">Hada</button></li>
</ul>
</nav>
</header>

<main>
<div id="todos">
    <div class="xuxemon-todos" id="listaXuxemons">
        <div *ngFor="let xuxemon of listaXuxemons" class="xuxemon">
            <p class="xuxemon-id-back">#{{ xuxemon.id }}</p>
            <div class="xuxemon-imagen">
                <img [src]="'../../assets/xuxemons/' + xuxemon.archivo" [alt]="xuxemon.nombre">
            </div>
            <div class="xuxemon-info">
                <div class="nombre-contenedor">
                    <p class="xuxemon-id">#{{ xuxemon.id }}</p>
                    <h2 class="xuxemon-nombre">{{ xuxemon.nombre }}</h2>
                </div>
                <div class="xuxemon-tipos">
                  <p [class]="xuxemon.tipo + ' tipo'">{{ xuxemon.tipo }}</p>
                </div>
                <div class="xuxemon-stats">
                    <p class="stat">{{ xuxemon.tamano }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</main>