* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-negro);
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    min-height: 100vh;
    background-color: var(--clr-gris);
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.wrapper {
    max-width: 1600px;
    height: 700px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 0 auto;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-inline: 2rem;
    max-width: 1600px;
    margin: 0 auto;
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

.nav img {
width: 100px;
height: 100px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    max-width: 100%; /* Asegúrate de que el contenedor no exceda el ancho máximo */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.btn-header {
    background-color: var(--clr-gris);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
}

.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

main {
    padding: 2rem;
    max-width: 1600px;
    margin: 0 auto;
}

.xuxemon-todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-height: 650px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Desplazamiento vertical */
    padding-bottom: 100px; /* Altura del último elemento */
}


@media screen and (min-width: 470px) {
    .xuxemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .xuxemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.xuxemon {
    border-radius: 1rem;
    background-color: lightgray;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.xuxemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gris);
}

.xuxemon-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.xuxemon-imagen img {
    width: 100%;
    max-width: 6rem;
}

.xuxemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.xuxemon-id {
    background-color: var(--clr-gris);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.xuxemon-nombre {
    font-size: 1.4rem;
}

.xuxemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.xuxemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat {
    background-color: var(--clr-gris);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}



.normal, .Normal {
    background-color: var(--tipo-normal);
    color: var(--clr-negro);
}

.fuego, .Fuego {
    background-color: var(--tipo-fuego);
    color: var(--clr-negro);
}

.agua, .Agua {
    background-color: var(--tipo-agua);
    color: var(--clr-blanco);
}

.planta, .Planta {
    background-color: var(--tipo-planta);
    color: var(--clr-negro);
}

.electrico, .Electrico {
    background-color: var(--tipo-electrico);
    color: var(--clr-negro);
}

.hielo, .Hielo {
    background-color: var(--tipo-hielo);
    color: var(--clr-negro);
}

.lucha, .Lucha {
    background-color: var(--tipo-lucha);
    color: var(--clr-blanco);
}

.veneno, .Veneno {
    background-color: var(--tipo-veneno);
    color: var(--clr-blanco);
}

.tierra, .Tierra {
    background-color: var(--tipo-tierra);
    color: var(--clr-negro);
}

.aire, .Aire {
    background-color: var(--tipo-aire);
    color: var(--clr-negro);
}

.psiquico, .Psiquico {
    background-color: var(--tipo-psiquico);
    color: var(--clr-negro);
}

.bicho, .Bicho {
    background-color: var(--tipo-bicho);
    color: var(--clr-negro);
}

.roca, .Roca {
    background-color: var(--tipo-roca);
    color: var(--clr-negro);
}

.fantasma, .Fantasma {
    background-color: var(--tipo-fantasma);
    color: var(--clr-blanco);
}

.siniestro, .Siniestro {
    background-color: var(--tipo-siniestro);
    color: var(--clr-blanco);
}

.dragon, .Dragon {
    background-color: var(--tipo-dragon);
    color: var(--clr-blanco);
}

.acero, .Acero {
    background-color: var(--tipo-acero);
    color: var(--clr-negro);
}

.hada, .Hada {
    background-color: var(--tipo-hada);
    color: var(--clr-negro);
}