<app-navbar></app-navbar>

<div class="container">
  <h1>Buscar Amigos</h1>
  <input type="text" [(ngModel)]="terminoBusqueda" (input)="buscarAmigos()">
  <ul>
    <li *ngFor="let usuario of busquedaAmigos">
      <ng-container *ngIf="!esSolicitudPendiente(usuario)">
        #{{ usuario.tag }} - {{ usuario.name }} - {{ usuario.email }}
        <button (click)="agregarAmigo(usuario.tag)">Añadir amigo</button>
      </ng-container>
      <ng-container *ngIf="esSolicitudPendiente(usuario)" style="background-color: yellow">
        #{{ usuario.tag }} - {{ usuario.name }} - {{ usuario.email }} (Solicitud Pendiente)
      </ng-container>
    </li>
  </ul>

  <button (click)=" mostrarSolicitudes = !mostrarSolicitudes">Mostrar/Ocultar Solicitudes Pendientes</button>

  <!-- Mostrar mensaje si hay solicitudes pendientes -->
  <div *ngIf="!mostrarSolicitudes && solicitudesAmigos.length > 0" class="texto-rojo">
    <p>Hay solicitudes pendientes de amistad.</p>
  </div>

  <div *ngIf="mostrarSolicitudes && solicitudesAmigos.length === 0">
    <p>No hay solicitudes pendientes de amistad.</p>
  </div>

  <div *ngIf="mostrarSolicitudes && solicitudesAmigos.length > 0">
    <h2>Solicitudes de Amistad Pendientes</h2>
    <ul>
      <li *ngFor="let solicitud of solicitudesAmigos">
        #{{ solicitud.tag }} - {{ solicitud.name }} - {{ solicitud.email }}
        <button (click)="aceptarSolicitud(solicitud.tag)">Aceptar</button>
        <button (click)="rechazarSolicitud(solicitud.tag)">Rechazar</button>
      </li>
    </ul>
  </div>
</div>

<!-- Mostrar amigos -->
<div *ngIf="amigos.length > 0" class="container1">
  <h2>Amigos</h2>
  <ul>
    <li *ngFor="let usuario of amigos">
      #{{ usuario.tag }} - {{ usuario.name }} - {{ usuario.email }}
    </li>
  </ul>
</div>

