<app-navbar></app-navbar>

<div id="container">
    <div class="form-container">
        <form class="form" [formGroup]="formLogin" (ngSubmit)="send()">
            <h2> Log in </h2>
            <div class="form-element">
                <label for="email"> Email </label>
                <input type="text" formControlName="email" id="email" placeholder="Introduce email">
                
            </div>
            <div class="form-element">
                <label for="password"> Contraseña </label>
                <input type="password" formControlName="password" id="password" placeholder="Introduce la contraseña">
            </div>
            <div class="form-element">
                <label for="remember-me"> Recuérdame </label> &nbsp;
                <input type="checkbox" formControlName="rememberMe" id="remember-me">
            </div>
            <div class="form-element">
                <button type="submit" [disabled]="formLogin.invalid"> Logueate </button>
            </div>
            <div class="form-element">
                <a class="nav-link text-primary" href="/register"> ¿No tienes cuenta? </a>
            </div>
            <div class="form-element">
                <a href="#"> ¿Te has olvidado de la contraseña? </a>
            </div>
        </form>
    </div>
</div>
