<app-navbar></app-navbar>

<div class="contenedor">
    <div class="wrapper">

    <span class="icon-close">
        <a href="/landscape"> <mat-icon>close</mat-icon> </a>
    </span>
 
    <div class="form-fox login">
        <h2>Login</h2>
        <form [formGroup]="formLogin" (ngSubmit)="login()">
            <div class="input-box">
                <span class="icon"><mat-icon>email</mat-icon></span>
                <input type="text" id="email" required formControlName="email">
                <label for="email"> Email </label>
            </div>
            <div class="input-box">
                <span class="icon"><mat-icon>lock</mat-icon></span>
                <input type="password" id="password" required formControlName="password">
                <label for="password"> Contraseña </label>
            </div>
            <div class="remember-forgot"> 
                <label for="rememberMe"><input type="checkbox" id="rememberMe" formControlName="rememberMe"> 
                Remember me</label>
                <a href="#"> ¿Has olvidado la contraseña? </a>
            </div>
            <button type="submit" class="btn" [disabled]="formLogin.invalid"> Login </button>
            <div class="login-register"> 
                <p>¿No tienes cuenta? <a href="/register" class="register-link"> Registrate </a> </p>
            </div>
        </form>
    </div>
    </div>
</div>