<app-navbar></app-navbar>

<div class="container"> 
  <form [formGroup]="configuracionForm"> 
    <label for="nivel"> Nivel: </label>
    <select name="nivel" id="nivel" formControlName="nivel" required> 
      <option value="1"> 1 </option>
      <option value="2"> 2 </option>
    </select>
    <br>
    <label for="chuches"> Chuches: </label>
    <input type="number" name="chuches" id="chuches" formControlName="chuches" required>
    <br>
    <button type="button" (click)="changeConfig()"> Cambiar configuración </button>
  </form>
</div>

<div class="container"> 
  <form [formGroup]="chuchesDiariasForm"> 
    <label for="chuchesDiarias">Chuches Diarias:</label>
    <input type="number" id="chuchesDiarias" formControlName="chuchesDiarias" required>
    <button type="button" (click)="changeChuchesDiarias()">Guardar</button>
  </form>
</div>

<div class="container"> 
  <form [formGroup]="porcentajeInfeccionForm"> 
    <label for="bajonAzucar"> % Bajón de Azúcar:</label>
    <input type="number" id="bajonAzucar" formControlName="bajonAzucar" required>
    <br>
    <label for="sobredosisAzucar"> % Sobredosis de Azúcar:</label>
    <input type="number" id="sobredosisAzucar" formControlName="sobredosisAzucar" required>
    <br>
    <label for="atracon"> % Atracón:</label>
    <input type="number" id="atracon" formControlName="atracon" required>
    <br>
    <button type="button" (click)="changePorcentajeInfeccion()">Guardar</button>
  </form>
</div>

<div class="container"> 
  <form [formGroup]="bajonAzucarForm"> 
    <label for="chuches">Chuches:</label>
    <input type="number" id="chuches" formControlName="chuches" required>
    <button type="button" (click)="changeBajonAzucar()">Guardar</button>
  </form>
</div>
